<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <p>Hello {{ recipient_name }},</p>

    <p> {{ sender_name }} would like to invite you to join their team and believes that your skills would
        make a valuable contribution to the team.</p>

    <p>If you are interested in joining the team, please let {{ sender_name }} know at {{ sender_email }} . They can
        provide you with more
        information about the project, team dynamics, and any other details you may require.</p>

</body>

</html>